doctype 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= title
    link(rel='stylesheet', href='/static/css/index.css')
  body
    block content
    br
    | Author :
    a(href='http://github.com/delsnic') @delsanic